
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  font-family: "Roboto Condensed";
}
body {
  > div {
    height: 100%;
    font-size: 0;
  }
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
a {color: white; text-decoration: none;}      /* unvisited link */
a:visited {color: white;}  /* visited link */
a:hover {color: white;}  /* mouse over link */
a:active {color: white;}  /* selected link */
ul { margin: 0; padding: 0; }
div { box-sizing: border-box; }
.main {
  height: 100%;
}
.side-menu {
  width: 200px;
  vertical-align: top;
  height: 100%;
  background-color: #33373e;
  padding-top: 20px;
  display: inline-block;
  z-index: 20;
  .p-logo {
    width: 121px;
    height: 43px;
    margin: 0 auto 30px auto;
    display: block;
  }
  ul {
    list-style-type: none;
  }
  li {
    box-sizing: border-box;
    color: white;
    height: 59px;
    padding-left: 20px;
    img {
      position: relative;
      top: 6px;
    }
    span {
      margin-left: 10px;
      width: 86px;
      height: 327px;
      color: white;
      font-family: "Roboto Condensed";
      font-size: 15px;
      line-height: 63px;
      text-transform: uppercase;
      font-weight: 400;
    }
    &.active {
      background-color: #3f444c;
      border-left: 5px solid #ff4800;
      span {
        font-weight: 700;
      }
    }

  }

}
.user-menu {
  display: inline-block;
  height: 100%;
  background-color: #E4E7ED;
}
.main-wrapper {
  background-color: #F4F3F9;
  height: 100%;
  width: calc(100% - 499px);
  display: inline-block;
  vertical-align: top;
  h3 {
    color: #8c98ab;
    font-size: 21px;
    font-weight: 400;
    line-height: 50px;
    margin: 0 0 20px 35px;
  }

}
.myaccount-page {
  max-width: 1181px;
  display: block;
}

.white-box {
  width: 330px;
  height: 310px;
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  box-shadow: 1px 1.7px 4px rgba(0, 0, 0, 0.15);
  margin-right: 20px;
  &.payment-request {
    margin-left: 35px;
  }
}


//wizard

.main-wizard {
  background-color: #f1f3f7;
  min-height: 100%;
  h1 {
    color:  #636b78;
    font-size: 25px;
    font-weight: 400;
    line-height: 49.673px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #d4dae4;
  }
  h3 {
    color: #636b78;
    font-size: 16px;
    font-weight: 400;
    line-height: 49.673px;
    text-align: center;
    margin-bottom: 20px;
  }
  .main-invoice-icon {
    position: absolute;
    top: 12px;
    left: 103px;
  }
  .upload-wrapper {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 70px;
    pointer-events: none;
    &.hide {
      display: none;
    }
  }

}
.row {
  &.wizard {
    margin: 0 auto;
    position: relative;
    max-width: 548px;
    &:nth-child(3) {
        &.step2 {
          max-width: 1150px;
        }
        &.step3 {
          max-width: 1150px;
        }
    }
  }
}
.m-upload {
    background-color: #ffffff;
    box-shadow: 1px 2px 8px 0 rgba(32, 29, 29, 0.15);
    width: 548px;
    border-left: 4px solid #ff350b;
    padding: 20px 20px 0 20px;
  .header {
    padding-bottom: 15px;
    border-bottom: 1px solid #d4dae4;
    span {
      color: #636b78;
      font-size: 21px;
      font-weight: 700;
      text-align: left;
      text-transform: uppercase;
    }
    img {
      margin-right: 5px;
    }
  }
  .icon-arrow-down {
  }
  .content {
    padding: 20px 15px;
    position: relative;

  }
  .btn-next {
    border-radius: 2px;
    background-color:  #5ea2ce;
    width: 130px;
    height: 35px;
    margin: 20px auto 0 auto;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    &.hide {
      display: none;
    }
  }
  .dropzone {
    width: 454px;
    min-height: 106px;
    border: 1px dashed gray;
    margin: 0 auto;
    padding-top: 20px;
    img {
      width: 40px;
      height: 37px;
      margin: 0 auto 5px auto;
      display: block;
    }
    .dz-preview {
      left: 50%;
      top: 50%;
      margin: 0 0 0 -50px;
      .dz-image {
        width: 100px;
        height: 100px;
      }
      .dz-success-mark, .dz-error-mark {
        display: none;
      }
    }
  }
  .icon-upload {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .dropzone-text {
    color: #636b78;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 22px;
    span {
      color: #5ea2ce;
      cursor: pointer;
    }
  }
}

.invoice-summary {
  .invoice-screenshot {
    float: left;
  }
  .summary {
    float: right;
    width: 550px;
    height: 728px;
    .payment-details {
      height: 122px;
      background-color: white;
      .header {
        padding: 5px 20px 0px 20px;

        h2 {
          color: #58606d;
          font-size: 21px; /* Approximation due to font substitution */
          font-weight: 700;
          line-height: 49.673px; /* Approximation due to font substitution */
          text-align: left;
          display: inline-block;
          margin-left: 10px;
          text-transform: uppercase;
        }
        img {
          position: relative;
          top: 3px;
        }
        span {
          color: #4b98c7;
          font-size: 14px;
          font-weight: 400;
          line-height: 33px;
          float: right;
          position: relative;
          top: 15px;
        }
      }
      .content {
        padding: 10px 20px;
        width: 510px;
        margin: 0 auto;
        border-top: 1px solid #d4dae4;
        .left {
          width: 30%;
          display: inline-block;
        }
        .right {
          width: 60%;
          display: inline-block;
        }
        .title {
          color: #8c98ab;
          font-size: 14px; /* Approximation due to font substitution */
          font-weight: 400;
          line-height: 23px; /* Approximation due to font substitution */
          text-align: left;
          display: inline-block;
          width: 45%;
        }
        .value {
          color: #57606d;
          font-size: 16px; /* Approximation due to font substitution */
          font-weight: 400;
          line-height: 23px; /* Approximation due to font substitution */
          text-align: left;
          display: inline-block;
        }
      }
    }
    .request-payment-from {
      height: 586px;
      background-color: white;
      margin-top: 20px;
      .header {
        padding: 5px 20px 0px 20px;

        h2 {
          color: #58606d;
          font-size: 21px; /* Approximation due to font substitution */
          font-weight: 700;
          line-height: 49.673px; /* Approximation due to font substitution */
          text-align: left;
          display: inline-block;
          margin-left: 10px;
          text-transform: uppercase;
        }
        img {
          position: relative;
          top: 3px;
        }
        span {
          color: #4b98c7;
          font-size: 14px;
          font-weight: 400;
          line-height: 33px;
          float: right;
          position: relative;
          top: 15px;
        }
      }
      .content {
        padding: 10px 20px;
        width: 510px;
        margin: 0 auto;
        border-top: 1px solid #d4dae4;
        h4 {
          color: #636b78;
          font-size: 18px; /* Approximation due to font substitution */
          font-weight: 400;
          line-height: 33px; /* Approximation due to font substitution */
          text-align: center;
          display: block;
        }
        .payer-type {
          width: 340px;
          margin: 0 auto 40px auto;
          div {
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;
          }
        }
        .rpf-inv {
          background-color: #f1f3f7;
          width: 159px;
          height: 84px;
          color: #636b78;
          font-size: 16px; /* Approximation due to font substitution */
          font-weight: 400;
          line-height: 84px; /* Approximation due to font substitution */
          text-align: center;
        }
        .rpf-company {
          background-color: #515d6f;
          width: 159px;
          height: 84px;
          color: #ffffff;
          font-size: 16px; /* Approximation due to font substitution */
          font-weight: 400;
          line-height: 84px; /* Approximation due to font substitution */
          text-align: center;
        }
        .rpf-form {
          input, select {
            width: 70%;
            height: 30px;
            padding-left: 10px;
            border-radius: 3px;
            border: 1px solid #f1f3f7;
            box-sizing: border-box;
            display: block;
            margin: 0 auto 15px auto;
          }
        }
      }

    }
  }
}
.btn-submit-wrapper {
  height: 100px;
  background-color: #F1F3F7;
  clear: both;
  padding: 30px;
}
.btn-submit {
  border-radius: 2px;
  background-color: #5ea2ce;
  width: 160px;
  height: 35px;
  clear: both;
  color: #ffffff;
  font-size: 18px; /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 35px; /* Approximation due to font substitution */
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
.complete-box {
  background-color: #ffffff;
  box-shadow: 1px 2px 8px 0px rgba(35, 31, 32, 0.15);
  width: 548px;
  height: 230px;
  margin-top: 40px;
  img {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    padding: 30px 0 15px 0;
    display: block;
  }
  h2 {
    color: #515d6f;
    font-size: 21px; /* Approximation due to font substitution */
    font-weight: 700;
    line-height: 23px; /* Approximation due to font substitution */
    text-align: center;
  }
  h4 {
    color: #515d6f;
    font-size: 16px; /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 22.67px; /* Approximation due to font substitution */
    text-align: center;
  }
}
.step3 {
  p {
    color: #5ea2ce;
    font-size: 21px; /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 23px; /* Approximation due to font substitution */
    text-align: center;
    padding: 0;
    margin: 20px 0 0 0;
    cursor: pointer;
  }
}
