<img class="p-logo" src="assets/images/logo-white-copia.png"/>
<ul class="menu-list">
  <li class="menu-item active">
    <a href="">
      <img src="assets/images/myaccount-icon.png">
      <span>My Account</span>
    </a>
  </li>
  <li class="menu-item">
    {{#link-to 'index.get-paid'}}
      <img src="assets/images/getpaid-icon.png">
      <span>Get Paid</span>
    {{/link-to}}
  </li>
  <li class="menu-item">
    <a href="">
      <img src="assets/images/withdraw-icon.png">
      <span>Widthdraw</span>
    </a>
  </li>
  <li class="menu-item">
    <a href="">
      <img src="assets/images/pay-icon.png">
      <span>Pay</span>
    </a>
  </li>
  <li class="menu-item">
    <a href="">
      <img src="assets/images/relations-icon.png">
      <span>Relations</span>
    </a>
  </li>
  <li class="menu-item">
    <a href="">
      <img src="assets/images/preferences-icon.png">
      <span>Preferences</span>
    </a>
  </li>
</ul>

{{yield}}
