<div class="invoice-summary clearfix">
  <div class="invoice-screenshot">
    <img src="assets/images/invoice-screenshot.png"/>
  </div>
  <div class="summary">
    <div class="payment-details">
      <div class="header">
        <img src="assets/images/icon-arrow-right.png" />
        <h2>Payment Details</h2>
        <span>Change</span>
      </div>
      <div class="content">
        <div class="left">
          <div class="row">
            <div class="title">Amount</div>
            <div class="value">{{invoice.amount}}</div>
          </div>
          <div class="row">
            <div class="title">Currency</div>
            <div class="value">{{invoice.currency}}</div>
          </div>
        </div>
        <div class="right">
          <div class="row">
            <div class="title">Invoice Number</div>
            <div class="value">{{invoice.invoiceNumber}}</div>
          </div>
          <div class="row">
            <div class="title">Due Date</div>
            <div class="value">{{moment-from-now invoice.dueDate}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="request-payment-from">
      <div class="header">
        <img src="assets/images/icon-arrow-right.png" />
        <h2>Request Payment From</h2>
        <span>Change</span>
      </div>
      <div class="content">
        <h4>Select payer type</h4>
        <div class="payer-type">
          <div class="rpf-inv">
            <img src="assets/images/icon-rpf-inv.png" alt="">
            Individual
          </div>
          <div class="rpf-company">
            <img src="assets/images/icon-rpf-company.png" alt="">
            Company
          </div>
        </div>
        <form class="rpf-form">
          <input type="text" class="compName" value={{invoice.companyName}} placeholder="Company Name"/>
          <input type="text" class="contName" value={{invoice.fullName}} placeholder="Contact Name"/>
          <input type="text" class="contEmail" placeholder="Contact Email"/>
          <select class="country"><option value="United States">United States</option></select>
          <select class="state"><option value="New York">New York</option></select>
        </form>
      </div>
    </div>
  </div>
  <div class="btn-submit-wrapper">
    <div class="btn-submit">SUBMIT</div>
  </div>
</div>
{{yield}}

