<div class="row wizard step3">
  <div class="complete-box">
    <img src="assets/images/icon-success.png">
    <h2>YOUR PAYMENT REQUEST IS ON ITS WAY!</h2>
    <h4>A copy of this request #requestId was sent to your email</h4>
  </div>
  {{#link-to 'invoice' }}
    <p>Make another payment request</p>
  {{/link-to}}
</div>
{{yield}}

