<label class={{class}}>
  {{#if area}}
    {{textarea value=value type=type required="required" focus-in=focusInFn focus-out='validate' value=tempVal placeholder=placeholder key-up='valChanged' class=(if isValid null "error")}}
    {{#if isValid }}
    {{else}}
      <span class="error-text">{{errorText}}</span>

    {{/if}}
  {{else}}
    {{input type=type required="required" focus-in=focusInFn focus-out='validate' value=tempVal max=max maxlength=maxlength key-up='valChanged' class=(if isValid null "error")}}

    {{#if label}}
      <span class="label">{{label}}</span>
    {{/if}}
    {{#if isValid }}
    {{else}}
      <span class="error-text">{{errorText}}</span>

    {{/if}}

  {{/if}}

</label>