<div class="main-wrapper">
  <img src="assets/images/getpaid-section-header.jpg" class="myaccount-page" />
  <h3>Payoneer offers you multiple ways to get paid</h3>
  <img class="white-box payment-request" src="assets/images/whitebox-req-payment.png"/>
  {{#link-to 'invoice' }}
    <img class="white-box" src="assets/images/whitebox-invoice.png" />
  {{/link-to}}

</div>

{{outlet}}
