<div class="main-wizard">
  <div class="row wizard">
    <img src="assets/images/req-invoice-icon.png" class="main-invoice-icon" />
    <h1>Request By Invoice</h1>
  </div>
  {{#if isNotSuccessStep}}
    <div class="row wizard">
      <h3>Upload your invoice and we will create the payment request for you</h3>
    </div>
  {{/if}}

  <div class="row wizard step{{step}}">
    {{#if isUploadStep}}
      {{upload-invoice fileAdded=fileAdded success=(action "success") error=(action "error")}}
    {{/if}}
    {{#if isSumStep}}
      {{invoice-summary invoice=model}}
    {{/if}}
    {{#if isSuccessStep}}
      {{message-box status=status}}
    {{/if}}
  </div>

</div>
{{outlet}}


