<div class="m-upload">
  <div class="header">
    <img src="assets/images/icon-arrow-down.png" class="icon-arrow-down"/>
    <span>Upload invoice</span>
  </div>
  <div class="content">
    {{#drop-zone url='http://localhost:44078/uploadFile' success=success error=error addedfile=(action "addedFileEvent")}}
      <div class="upload-wrapper {{if fileAdded "hide" "show"}}">
        <img src="assets/images/icon-upload.png" class="icon-upload" />
        <div class="dropzone-text">
          Drag or
          <span>Browse a file to upload</span>
        </div>
      </div>
    {{/drop-zone}}
    <div class="btn-next {{if fileAdded "show" "hide"}}">Next</div>
  </div>
</div>